<h2>2nd Task</h2>
<div class="text-center" *ngIf="booleanData">
  <button class="btn btn-secondary" type="reset" (click)="onLogout()">
    Logout
  </button>
</div>
<div>
  <input
    type="radio"
    value="fruit"
    name="customRadio"
    [(ngModel)]="readioSelected"
  />
  <label>
    <span>Fruits</span>
  </label>
</div>
<div>
  <input
    type="radio"
    value="vegitable"
    name="customRadio"
    [(ngModel)]="readioSelected"
  />
  <label>
    <span>Vegetable</span>
  </label>
</div>

<div
  *ngIf="readioSelected == 'fruit'"
  style="
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
  "
>
  <div *ngFor="let fruit of fruitData; let index = index">
    <img style="width: 100px; height: 100px" src="{{ fruit.image }}" />
    <div>{{ fruit.item }}</div>
  </div>
</div>

<div
  *ngIf="readioSelected == 'vegitable'"
  style="
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
  "
>
  <div *ngFor="let vegitable of vegetableData; let index = index">
    <img style="width: 100px; height: 100px" src="{{ vegitable.image }}" />
    <div>{{ vegitable.item }}</div>
  </div>
</div>
