<h2>3rd Task</h2>
<label>First Value</label>
<input type="number" name="data1" [(ngModel)]="data1" />
<br />
<br />
<br />
<label>Second Value</label>
<input type="number" name="data2" [(ngModel)]="data2" />
<h2>pass value from child(child comp.) to parent(app comp.) is {{ data }}</h2>

<app-child
  [data2]="data2"
  [data1]="data1"
  (updateData)="updateData($event)"
></app-child>
<br />
<app-radio></app-radio>
<h2>4th Task (Template Driven Form)</h2>
<app-template-driven-form></app-template-driven-form>
<h3>5th Task</h3>
<div *ngIf="reactiveFormData">
  <p>data from child (reactive form){{ reactiveFormData | json }}</p>
</div>
<app-reactive-form
  (reactiveFormDataFunc)="reactiveFormDataFunc($event)"
></app-reactive-form>
